doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    link(rel='stylesheet', href='/handsontable/handsontable.full.min.css')

  body
    block content
